{# <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Le contrat de location</h1>

    Entre {{contrat.prenom }} {{contrat.nom}} et Jean-Bernard le vieux voleur de mes couilles.
</body>
</html> #}

{% extends 'base.html.twig' %}

{% block title %}Contrat{% endblock %}

{% block body %}
<h1>Sign the PDF</h1>
    <canvas id="signature-pad" width="400" height="200"></canvas>
    {# <button onclick="saveSignature()">Save Signature</button> #}

    <form action="{{ path('save_signature') }}" method="post" id="signature-form">
    <input type="hidden" name="signatureForm[signatureDataUrl]" id="signatureDataUrlInput">
    <!-- Add other form fields or styling as needed -->
    <button type="submit">Save Signature</button>
</form>
{% endblock %}

{% block javascripts %}
<script>

    var canvas = document.getElementById('signature-pad');            
    var signaturePad = new SignaturePad(canvas);
    console.log(canvas)


    function saveSignature() {
        var signatureDataUrl = signaturePad.toDataURL();
        document.getElementById('signatureDataUrlInput').value = signatureDataUrl;
        document.getElementById('signature-form').submit();
    }



{# function saveSignature() {
            var signatureDataUrl = signaturePad.toDataURL(); // Get signature data as a data URL
            let url = '/save-signature'
            // Send the signatureDataUrl to your Symfony backend
            // For example, you can use AJAX to send it to a Symfony controller
            // The controller can then embed the signature in the PDF
            // and return the signed PDF to be displayed or downloaded

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json', // Adjust the content type if necessary
                },
                body: JSON.stringify({ signatureDataUrl: signatureDataUrl }),
            })
                .then(response => response.json())
                .then(data => {
                    // Handle the response (e.g., display the signed PDF)
                    console.log(data);
                })
                .catch(error => {
                    console.error('Error:', error);
                });
                    } #}

    
    </script>
{% endblock %}



